<div class="container">
  <div class="image">
    <div class="image-container">
      <img
        src="https://trainee-program-api.applaudostudios.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2194428ce31528fbd46199d0fc8934f9e2fdf673/Snicker.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="content">
    <h1>Product</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iure nihil animi, atque
      veniam perspiciatis deleniti consequuntur soluta dolores mollitia quaerat enim provident quos
      dicta fugiat blanditiis aliquid qui odio!
    </p>
    <div class="content-controls">
      <label>Stock: <b>15</b></label>
      <button mat-fab #tooltip="matTooltip" matTooltip="Add to cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
