$background-color: white;
$gray-color: #8e9a9f;

$alert-info: #867df3;
$alert-success: #00a28e;
$alert-warning: #ed6f00;
$alert-error: #ff5631;

$primary-color: #3F51B5;
$primary-color-lighter: #d1d7fa;

$large: 1300px;
$medium: 992px;
$small: 592px;
