<div class="product">
  <div class="image-container">
    <img [src]="product?.image?.url!" />
  </div>
  <div class="body">
    <a [routerLink]="['/products/details', product.slug]">{{ product.name }}</a>
    <div class="body-container">
      <div class="info">
        <label
          >Stock: <b>{{ product.master?.stock }}</b></label
        >
        <h1>{{ product.master?.price | currency }}</h1>
      </div>
      <button mat-mini-fab color="accent" mat-fab #tooltip="matTooltip" matTooltip="Add to cart">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
